spring:
  datasource:
    url: jdbc:mysql://localhost:3306/marketplace
    username: root
    password: 1234
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
springdoc:
  swagger-ui:
    path: /swagger
  api-docs:
    path: /v3/api-docs



server:
  port: 8080
